Repository Eoic/Papyrus: changes, and which lefthook commands are due for each by the changed paths.
All: client-format, client-analyze, server-format, server-lint

lefthook.yml:

# Lefthook configuration for git hooks
# Install: https://github.com/evilmartians/lefthook
# Run `lefthook install` after cloning the repository

pre-commit:
  parallel: true
  commands:
    # Client checks
    client-format:
      root: "client/"
      run: dart format --set-exit-if-changed --output=none {staged_files}
      glob: "*.dart"
      stage_fixed: true

    client-analyze:
      root: "client/"
      run: dart analyze --fatal-infos
      glob: "*.dart"

    # Server checks
    server-format:
      root: "server/"
      run: ruff format --check .
      glob: "*.py"

    server-lint:
      root: "server/"
      run: ruff check .
      glob: "*.py"

pre-push:
  parallel: true
  commands:
    client-test:
      root: "client/"
      run: flutter test

    server-typecheck:
      root: "server/"
      run: mypy src/

    server-test:
      root: "server/"
      run: pytest -q

feat(server): add social endpoints (follow, block)
  server/src/papyrus/api/routes/__init__.py
  server/src/papyrus/api/routes/social.py
  server/tests/test_social.py
Due: server-format, server-lint

feat(server): add catalog endpoints (search, book details, reviews)
  server/src/papyrus/api/routes/__init__.py
  server/src/papyrus/api/routes/catalog.py
  server/tests/test_catalog.py
Due: server-format, server-lint

feat(server): add rating endpoints (1-10 scale)
  server/src/papyrus/api/routes/__init__.py
  server/src/papyrus/api/routes/ratings.py
  server/tests/test_ratings.py
Due: server-format, server-lint

feat(server): add review endpoints (CRUD, reactions)
  server/src/papyrus/api/routes/__init__.py
  server/src/papyrus/api/routes/reviews.py
  server/tests/test_reviews.py
Due: server-format, server-lint

feat(server): add user book tracking and activity feed endpoints
  server/src/papyrus/api/routes/__init__.py
  server/src/papyrus/api/routes/feed.py
  server/src/papyrus/api/routes/user_books.py
  server/tests/test_feed.py
  server/tests/test_user_books.py
Due: server-format, server-lint

Format community routes for line length compliance
  server/src/papyrus/api/routes/catalog.py
  server/src/papyrus/api/routes/feed.py
  server/src/papyrus/api/routes/profiles.py
  server/src/papyrus/api/routes/reviews.py
Due: server-format, server-lint

feat(client): add API client service with Firebase JWT auth
  client/lib/services/api_client.dart
  client/test/services/api_client_test.dart
Due: client-format, client-analyze

feat(client): add community data models
  client/lib/models/activity_item.dart
  client/lib/models/catalog_book.dart
  client/lib/models/community_review.dart
  client/lib/models/community_user.dart
  client/test/models/community_models_test.dart
Due: client-format, client-analyze

feat(client): add community and social providers
  client/lib/providers/community_provider.dart
  client/lib/providers/social_provider.dart
  client/test/providers/community_provider_test.dart
  client/test/providers/social_provider_test.dart
Due: client-format, client-analyze

feat(client): add community tab, pages, and navigation
  client/lib/config/app_router.dart
  client/lib/main.dart
  client/lib/pages/community_book_page.dart
  client/lib/pages/community_page.dart
  client/lib/pages/user_profile_page.dart
  client/lib/pages/write_review_page.dart
  client/lib/widgets/community/activity_card.dart
  client/lib/widgets/community/activity_feed_list.dart
  client/lib/widgets/community/discover_content.dart
  client/lib/widgets/shell/adaptive_app_shell.dart
Due: client-format, client-analyze

style(server): fix import ordering in test_catalog.py
  server/tests/test_catalog.py
Due: server-format, server-lint

fix: address code review issues
  client/lib/services/api_client.dart
  server/alembic/env.py
  server/src/papyrus/api/routes/reviews.py
  server/tests/test_reviews.py
Due: client-format, client-analyze, server-format, server-lint

chore: profile page formatting
  client/lib/pages/edit_profile_page.dart
  docs/plans/2026-02-12-duration-picker-design.md
Due: client-format, client-analyze

feat: add landing page draft
  .gitignore
  landing/index.html
  landing/js/main.js
  landing/package-lock.json
  landing/package.json
  landing/scss/_buttons.scss
  landing/scss/_cta.scss
  landing/scss/_features.scss
  landing/scss/_footer.scss
  landing/scss/_hero.scss
  landing/scss/_layout.scss
  landing/scss/_nav.scss
  landing/scss/_open-source.scss
  landing/scss/_pillars.scss
  landing/scss/_platforms.scss
  landing/scss/_reset.scss
  landing/scss/_screenshots.scss
  landing/scss/_storage.scss
  landing/scss/_trust-bar.scss
  landing/scss/_typography.scss
  landing/scss/_variables.scss
  landing/scss/style.scss
Due: none

feature: update landing page layout and redesign downloads section
  landing/index.html
  landing/js/main.js
  landing/scss/_buttons.scss
  landing/scss/_cta.scss
  landing/scss/_footer.scss
  landing/scss/_hero.scss
  landing/scss/_nav.scss
  landing/scss/_open-source.scss
  landing/scss/_pillars.scss
  landing/scss/_platforms.scss
  landing/scss/_reset.scss
  landing/scss/_screenshots.scss
  landing/scss/_storage.scss
  landing/scss/_trust-bar.scss
  landing/scss/_variables.scss
  landing/scss/style.scss
Due: none

feat: prepare landing site for deployment
  landing/.gitignore
  landing/index.html
  landing/js/main.js
  landing/package.json
  landing/public/apple-touch-icon.png
  landing/public/favicon-96x96.png
  landing/public/favicon.ico
  landing/public/favicon.svg
  landing/public/site.webmanifest
  landing/public/web-app-manifest-192x192.png
  landing/public/web-app-manifest-512x512.png
  landing/scripts/stamp-version.js
  landing/scss/style.scss
  landing/vercel.json
  public/img/logo.png
Due: none

feat: update landing page layout
  landing/index.html
  landing/js/main.js
  landing/scss/_features.scss
  landing/scss/_nav.scss
  landing/scss/_pillars.scss
Due: none

chore: add .worktrees/ to .gitignore
  .gitignore
Due: none

feat(auth): migrate from Firebase to Supabase OAuth
  client/android/app/google-services.json
  client/ios/Runner/GoogleService-Info.plist
  client/lib/config/app_router.dart
  client/lib/firebase_options.dart
  client/lib/forms/login_form.dart
  client/lib/forms/register_form.dart
  client/lib/main.dart
  client/lib/pages/forgot_password_page.dart
  client/lib/pages/login_page.dart
  client/lib/pages/profile_page.dart
  client/lib/pages/register_page.dart
  client/lib/pages/welcome_page.dart
  client/lib/providers/auth_provider.dart
  client/lib/widgets/buttons/google_sign_in.dart
  client/lib/widgets/dashboard/dashboard_greeting.dart
  client/linux/flutter/generated_plugin_registrant.cc
  client/linux/flutter/generated_plugins.cmake
  client/macos/Flutter/GeneratedPluginRegistrant.swift
  client/macos/Runner/GoogleService-Info.plist
  client/pubspec.lock
  client/pubspec.yaml
  client/windows/flutter/generated_plugin_registrant.cc
  client/windows/flutter/generated_plugins.cmake
Due: client-format, client-analyze

chore(auth): remove Firebase remnants and complete Supabase migration
  .github/workflows/release.yml
  CLAUDE.md
  client/.dart_defines.example
  client/.gitignore
  client/.vscode/launch.json
  client/android/app/build.gradle.kts
  client/android/app/src/main/res/values/strings.xml
  client/android/settings.gradle.kts
  client/firebase.json
  client/ios/Runner/Info.plist
  client/lib/pages/edit_profile_page.dart
  docs/src/technologies.md
Due: client-format, client-analyze

fix: standardize configuration names in launch.json
  client/.vscode/launch.json
Due: none

chore: remove unused files, update tasks.json commands
  .vscode/tasks.json
  client/.vscode/launch.json
  client/notes/features/fix-file-import-sheet-layout.md
  client/pubspec.lock
Due: none

design: add alternative logo draft
  public/img/alt-logo/color-border.png
  public/img/alt-logo/color-border.svg
  public/img/alt-logo/color-only.png
  public/img/alt-logo/color-only.svg
Due: none

chore: remove redundant Claude skills
  .claude/settings.json
  .claude/skills/flutter-development/SKILL.md
  .claude/skills/project-planner/README.md
  .claude/skills/project-planner/SKILL.md
  .claude/skills/project-planner/assets/requirements-template.md
  .claude/skills/project-planner/plugin.json
  .claude/skills/project-planner/references/domain-templates.md
  .claude/skills/project-planner/scripts/generate_project_docs.py
  .claude/skills/project-planner/scripts/validate_documents.py
Due: none

chore: clean up unused docs and move logos to correct directory
  client/.claude/settings.json
  design/logo.png
  design/prompts/00-system-context.md
  design/prompts/01-component-library.md
  design/prompts/desktop/00-desktop-context.md
  design/prompts/desktop/01-auth-flow.md
  design/prompts/desktop/02-library.md
  design/prompts/desktop/03-book-details.md
  design/prompts/desktop/04-dashboard.md
  design/prompts/desktop/05-progress.md
  design/prompts/desktop/06-profile.md
  design/prompts/desktop/07-reader.md
  design/prompts/e-ink/00-eink-context.md
  design/prompts/e-ink/01-auth-flow.md
  design/prompts/e-ink/02-library.md
  design/prompts/e-ink/03-book-details.md
  design/prompts/e-ink/04-dashboard.md
  design/prompts/e-ink/05-progress.md
  design/prompts/e-ink/06-profile.md
  design/prompts/e-ink/07-reader.md
  design/prompts/mobile/00-mobile-context.md
  design/prompts/mobile/01-auth-flow.md
  design/prompts/mobile/02-library.md
  design/prompts/mobile/03-book-details.md
  design/prompts/mobile/04-dashboard.md
  design/prompts/mobile/05-progress.md
  design/prompts/mobile/06-profile.md
  design/prompts/mobile/07-reader.md
  design/tokens/design-tokens.md
  public/img/logo.svg
Due: none

feat(ci): add GitHub workflow config for auto assigning issues
  .github/workflows/auto-assign.yml
Due: none

chore: move docs to separate repository
  docs-requirements.txt
  docs/src/README.md
  docs/src/SUMMARY.md
  docs/src/actors.md
  docs/src/api/index.md
  docs/src/api/openapi.yaml
  docs/src/api/redoc.html
  docs/src/database-model.md
  docs/src/entities.md
  docs/src/external/index.md
  docs/src/javascripts/extra.js
  docs/src/market-analysis.md
  docs/src/requirements/README.md
  docs/src/requirements/functional-requirements.md
  docs/src/requirements/non-functional-requirements.md
  docs/src/server-architecture.md
  docs/src/stylesheets/extra.css
  docs/src/technologies.md
  docs/src/use-cases.md
  docs/src/user-interface.md
  mkdocs.yml
Due: none

fix: typo in README.md for storage backend description
  README.md
Due: none

docs: revise README with updated instructions and resources
  README.md
Due: none

docs: update documentation link in README.md
  README.md
Due: none

feat: update spacing for bulk action modals
  app/lib/pages/welcome_page.dart
  app/lib/utils/text_utils.dart
  app/lib/widgets/library/bulk_status_sheet.dart
  app/lib/widgets/shelves/add_shelf_sheet.dart
  app/lib/widgets/shelves/move_to_shelf_sheet.dart
  app/lib/widgets/topics/manage_topics_sheet.dart
Due: none

chore: untrack residual Claude Code files
  .superpowers/brainstorm/106067-1774303079/desktop-direction.html
  .superpowers/brainstorm/106067-1774303079/final-design-v2.html
  .superpowers/brainstorm/106067-1774303079/final-design.html
  .superpowers/brainstorm/106067-1774303079/hero-content.html
  .superpowers/brainstorm/106067-1774303079/mobile-direction.html
  .superpowers/brainstorm/106067-1774303079/waiting.html
Due: none

chore: delete Claude Code design docs
  app/design/mobile_search_filter_ui_spec.md
  app/design/mobile_search_filter_wireframes.md
Due: none

feat: show counts in the library submenu nav items
  app/lib/config/app_router.dart
  app/lib/widgets/shell/adaptive_app_shell.dart
  app/lib/widgets/shell/desktop_sidebar.dart
Due: none

feat: treat e-ink display as a regular theme option
  app/lib/main.dart
  app/lib/pages/developer_options_page.dart
  app/lib/pages/profile_page.dart
  app/lib/providers/display_mode_provider.dart
  app/lib/providers/preferences_provider.dart
  app/lib/themes/app_theme.dart
  app/lib/widgets/settings/settings_row.dart
  app/lib/widgets/shell/adaptive_app_shell.dart
Due: none

feat: enable useRootNavigator for bottom sheet in AddPhysicalBookSheet
  app/lib/widgets/add_book/add_physical_book_sheet.dart
Due: none

fix: spacing between cover preview and header text in shelf and topics sheets
  app/lib/widgets/filter/filter_dialog.dart
  app/lib/widgets/shelves/move_to_shelf_sheet.dart
  app/lib/widgets/topics/manage_topics_sheet.dart
Due: none
