Repository Eoic/Papyrus: changes, and which lefthook commands are due for each by the changed paths.
All: client-format, client-analyze, server-format, server-lint

lefthook.yml:

# Lefthook configuration for git hooks
# Install: https://github.com/evilmartians/lefthook
# Run `lefthook install` after cloning the repository

pre-commit:
  parallel: true
  commands:
    # Client checks
    client-format:
      root: "client/"
      run: dart format --set-exit-if-changed --output=none {staged_files}
      glob: "*.dart"
      stage_fixed: true

    client-analyze:
      root: "client/"
      run: dart analyze --fatal-infos
      glob: "*.dart"

    # Server checks
    server-format:
      root: "server/"
      run: ruff format --check .
      glob: "*.py"

    server-lint:
      root: "server/"
      run: ruff check .
      glob: "*.py"

pre-push:
  parallel: true
  commands:
    client-test:
      root: "client/"
      run: flutter test

    server-typecheck:
      root: "server/"
      run: mypy src/

    server-test:
      root: "server/"
      run: pytest -q

Add library page screenshot to README.md.
  README.md
  public/img/library.png
Due: none

Refactoring.
  client/lib/models/book.dart
  client/lib/models/book_data.dart
  client/lib/models/search_filter.dart
  client/lib/pages/book_edit_page.dart
  client/lib/pages/library_page.dart
  client/lib/providers/book_details_provider.dart
  client/lib/providers/book_edit_provider.dart
  client/lib/providers/dashboard_provider.dart
  client/lib/utils/book_actions.dart
  client/lib/utils/image_utils.dart
  client/lib/widgets/add_book/add_physical_book_sheet.dart
  client/lib/widgets/book/book.dart
  client/lib/widgets/book/book_details.dart
  client/lib/widgets/book_details/book_action_buttons.dart
  client/lib/widgets/book_details/book_header.dart
  client/lib/widgets/book_details/book_info_grid.dart
  client/lib/widgets/book_details/update_progress_sheet.dart
  client/lib/widgets/book_form/book_date_field.dart
  client/lib/widgets/book_form/book_text_field.dart
  client/lib/widgets/book_form/co_author_editor.dart
  client/lib/widgets/book_form/responsive_form_row.dart
  client/lib/widgets/context_menu/book_context_menu.dart
  client/lib/widgets/dashboard/continue_reading_card.dart
  client/lib/widgets/dashboard/recently_added_section.dart
  client/lib/widgets/filter/filter_bottom_sheet.dart
  client/lib/widgets/library/book_card.dart
  client/lib/widgets/library/book_grid.dart
  client/lib/widgets/library/book_list_item.dart
  client/lib/widgets/shelves/move_to_shelf_sheet.dart
  client/lib/widgets/shelves/shelf_detail_sheet.dart
  client/lib/widgets/topics/manage_topics_sheet.dart
  client/test/widgets/library/book_grid_test.dart
Due: client-format, client-analyze

refactor: Unify physical book form to single-column bottom sheet layout
  client/lib/widgets/add_book/add_physical_book_sheet.dart
Due: client-format, client-analyze

fix: Add camera permissions for ISBN barcode scanning
  client/android/app/src/main/AndroidManifest.xml
  client/ios/Runner/Info.plist
Due: none

fix: Update barcode scanner icon for consistency
  client/lib/widgets/add_book/add_physical_book_sheet.dart
Due: client-format, client-analyze

refactor: Improve layout and spacing in book edit page and cover image picker
  client/lib/pages/book_edit_page.dart
  client/lib/widgets/book_edit/cover_image_picker.dart
Due: client-format, client-analyze

refactor: Put cover image picker into card with padding in physical book form
  client/lib/widgets/add_book/add_physical_book_sheet.dart
Due: client-format, client-analyze

refactor: Show context menu buttons only on hover in book detail tabs
  client/lib/widgets/book_details/annotation_card.dart
  client/lib/widgets/book_details/note_card.dart
  client/lib/widgets/bookmarks/bookmark_list_item.dart
Due: client-format, client-analyze

refactor: Improve shelf and topic assignment bottom sheets
  client/lib/widgets/shelves/move_to_shelf_sheet.dart
  client/lib/widgets/topics/manage_topics_sheet.dart
Due: client-format, client-analyze

feat: Add book sorting to library page
  client/lib/pages/library_page.dart
  client/lib/providers/library_provider.dart
Due: client-format, client-analyze

fix: Wrap filter dialog actions in Row to prevent OverflowBar crash
  client/lib/widgets/filter/filter_dialog.dart
Due: client-format, client-analyze

fix: Clear shelf and topic filters when search bar is cleared
  client/lib/pages/library_page.dart
  client/lib/providers/library_provider.dart
  client/test/providers/library_provider_test.dart
Due: client-format, client-analyze

Delete project structure from README
  README.md
Due: none

feat: Add search and sort to shelves page header, extract ViewModeToggle
  client/lib/pages/library_page.dart
  client/lib/pages/shelves_page.dart
  client/lib/providers/shelves_provider.dart
  client/lib/widgets/shared/view_mode_toggle.dart
Due: client-format, client-analyze

feat: Add shelf contents page with aligned filtering and improved shelf card UX
  client/lib/config/app_router.dart
  client/lib/data/data_store.dart
  client/lib/pages/library_page.dart
  client/lib/pages/shelf_contents_page.dart
  client/lib/pages/shelves_page.dart
  client/lib/providers/shelves_provider.dart
  client/lib/widgets/filter/filter_dialog.dart
  client/lib/widgets/library/library_drawer.dart
  client/lib/widgets/library/library_filter_chips.dart
  client/lib/widgets/shared/quick_filter_chips.dart
  client/lib/widgets/shelves/shelf_card.dart
  client/lib/widgets/shelves/shelf_detail_sheet.dart
  client/test/pages/library_page_test.dart
Due: client-format, client-analyze

refactor: Remove redundant navigation headers from desktop layouts
  client/lib/pages/book_details_page.dart
  client/lib/pages/book_edit_page.dart
  client/lib/pages/library_page.dart
  client/lib/pages/shelves_page.dart
  client/test/pages/library_page_test.dart
Due: client-format, client-analyze

fix: Align filter chips padding with desktop header on books and shelves pages
  client/lib/pages/library_page.dart
  client/lib/pages/shelf_contents_page.dart
  client/lib/widgets/library/library_filter_chips.dart
  client/lib/widgets/shared/quick_filter_chips.dart
Due: client-format, client-analyze

refactor: Improve book edit desktop layout with full-width cover and aligned footer
  client/lib/pages/book_edit_page.dart
  client/lib/widgets/book_edit/cover_image_picker.dart
Due: client-format, client-analyze

fix: Show consistent book cover placeholders in shelf cards
  client/lib/data/data_store.dart
  client/lib/data/sample_data.dart
  client/lib/models/shelf.dart
  client/lib/models/shelf_data.dart
  client/lib/providers/shelves_provider.dart
  client/lib/widgets/shelves/shelf_card.dart
Due: client-format, client-analyze

fix: Update library image for improved visual consistency
  public/img/library.png
Due: none

fix: Update offline mode flow to allow a user to browse the application without signing in.
  client/lib/config/app_router.dart
  client/lib/pages/welcome_page.dart
  client/lib/providers/google_sign_in_provider.dart
Due: client-format, client-analyze

chore: Update CLAUDE.md file.
  .claude/settings.json
  .gitignore
  CLAUDE.md
Due: none

feat: Implement book multi-selection and bulk actions,
  client/lib/pages/library_page.dart
  client/lib/pages/shelf_contents_page.dart
  client/lib/providers/library_provider.dart
  client/lib/utils/book_actions.dart
  client/lib/utils/bulk_book_actions.dart
  client/lib/widgets/context_menu/book_context_menu.dart
  client/lib/widgets/library/book_card.dart
  client/lib/widgets/library/book_grid.dart
  client/lib/widgets/library/book_list_item.dart
  client/lib/widgets/library/bulk_action_bar.dart
  client/lib/widgets/library/bulk_status_sheet.dart
  client/lib/widgets/library/selection_header.dart
  client/lib/widgets/shelves/move_to_shelf_sheet.dart
  client/lib/widgets/topics/manage_topics_sheet.dart
Due: client-format, client-analyze

fix: Skip Google Sign-In plugin initialization on web
  client/lib/providers/google_sign_in_provider.dart
Due: client-format, client-analyze

refactor(ui): unify library page headers with full-width search
  client/lib/pages/annotations_page.dart
  client/lib/pages/bookmarks_page.dart
  client/lib/pages/notes_page.dart
Due: client-format, client-analyze

feat(goals): improve goals UX with duration picker and visual refinements
  client/lib/models/reading_goal.dart
  client/lib/pages/goals_page.dart
  client/lib/pages/statistics_page.dart
  client/lib/widgets/dashboard/reading_goal_card.dart
  client/lib/widgets/goals/active_goal_details_sheet.dart
  client/lib/widgets/goals/add_goal_sheet.dart
  client/lib/widgets/goals/completed_goal_chip.dart
  client/lib/widgets/goals/goal_card.dart
  docs/plans/2026-02-12-duration-picker-design.md
Due: client-format, client-analyze

refactor(statistics): improve chart density, layout, and axis readability
  client/lib/pages/statistics_page.dart
  client/lib/widgets/statistics/genre_distribution.dart
  client/lib/widgets/statistics/reading_charts.dart
  client/lib/widgets/statistics/reading_time_chart.dart
  client/lib/widgets/statistics/streak_widget.dart
  client/lib/widgets/statistics/summary_stat_card.dart
Due: client-format, client-analyze

fix(statistics): prevent duplicate x-axis labels on pages read chart
  client/lib/widgets/statistics/reading_charts.dart
Due: client-format, client-analyze

refactor(dashboard): streamline header and wrap recently added in card
  client/lib/pages/dashboard_page.dart
  client/lib/widgets/dashboard/dashboard_greeting.dart
  client/lib/widgets/dashboard/quick_stats_widget.dart
Due: client-format, client-analyze

refactor(profile): consolidate settings into profile with persistent preferences
  client/lib/config/app_router.dart
  client/lib/main.dart
  client/lib/pages/profile_page.dart
  client/lib/pages/settings_page.dart
  client/lib/providers/preferences_provider.dart
  client/macos/Flutter/GeneratedPluginRegistrant.swift
  client/pubspec.lock
  client/pubspec.yaml
Due: client-format, client-analyze

fix(profile): stabilize navigation and clean up desktop layout
  client/lib/main.dart
  client/lib/pages/profile_page.dart
Due: client-format, client-analyze

Remove Trello and Figma links from README
  README.md
Due: none

Fix resource links in README.md
  README.md
Due: none

Update resource links in README
  README.md
Due: none

Implement profile editing.
  client/lib/config/app_router.dart
  client/lib/pages/edit_profile_page.dart
  client/lib/pages/profile_page.dart
  client/test/services/file_metadata_service_test.dart
Due: client-format, client-analyze

chore: add .worktrees/ to .gitignore
  .gitignore
Due: none

chore(server): initialize Alembic for database migrations
  server/alembic.ini
  server/alembic/README
  server/alembic/env.py
  server/alembic/script.py.mako
Due: server-format, server-lint

feat(server): add SQLAlchemy ORM models for community features
  server/src/papyrus/models/__init__.py
  server/src/papyrus/models/activity.py
  server/src/papyrus/models/block.py
  server/src/papyrus/models/catalog_book.py
  server/src/papyrus/models/follow.py
  server/src/papyrus/models/rating.py
  server/src/papyrus/models/review.py
  server/src/papyrus/models/review_reaction.py
  server/src/papyrus/models/user.py
  server/src/papyrus/models/user_book.py
Due: server-format, server-lint

feat(server): add Pydantic schemas for community features
  server/src/papyrus/schemas/catalog.py
  server/src/papyrus/schemas/community_activity.py
  server/src/papyrus/schemas/community_profile.py
  server/src/papyrus/schemas/community_rating.py
  server/src/papyrus/schemas/community_review.py
  server/src/papyrus/schemas/community_user_book.py
  server/src/papyrus/schemas/social.py
Due: server-format, server-lint

feat(server): add community profile endpoints
  server/src/papyrus/api/routes/__init__.py
  server/src/papyrus/api/routes/profiles.py
  server/tests/test_profiles.py
Due: server-format, server-lint
